@using Caps.Consumer.Model
@using Caps.Consumer.Mvc.SiteMap
@using Caps.Consumer.Mvc

@{
    ViewBag.Title = SiteMap.CurrentNode != null ? String.Format("{0} - Caps Demo Website", SiteMap.CurrentNode.Title) : "Caps Demo Website";
    var content = ViewBag.Content as ContentModel;
}

<div class="row">
    <div class="col-md-3">
        @{
            var nodes = SiteMap.RootNode.ChildNodes;
            var breadCrumbs = SiteMap.CurrentNode.GetBreadCrumbs();
            if (breadCrumbs.Any())
            {
                nodes = breadCrumbs.Count() == 1 ?
                    SiteMap.CurrentNode.ChildNodes : breadCrumbs.Skip(1).First().ChildNodes;
            }
        }
        @foreach (var node in nodes.Cast<CapsSiteMapNode>().Where(n => n.IsNodeTypeIn("Page", "Draft", "Action")))
        {
            <section>
                <h4><a href="@node.Url">@node.Title</a></h4>
                @if (node.ChildNodes.Count > 0)
                {
                    <ul class="clear-list">
                        @foreach (var childNode in node.ChildNodes.Cast<SiteMapNode>())
                        {
                            <li><a href="@childNode.Url">@childNode.Title</a></li>
                        }
                    </ul>
                }
            </section>
        }
    </div>
    <div class="col-md-9">
        @if (!content.HasLocalizedContent)
        {
            <div class="alert-info">Sorry, currently this content is only available in German.</div>
        }

        @foreach (var part in content.ContentParts)
        {
            @Html.RenderContentPart(content, part.Usage);
        }
    </div>
</div>