@using Caps.Consumer.Mvc
@using Caps.Consumer.Mvc.SiteMap
@using Caps.Consumer.Localization

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meine Caps-Webseite</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.LocalizeAction("Index", "Home", Language.CurrentLanguage)" class="navbar-brand">Caps Demo</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @foreach (var node in SiteMap.RootNode.ChildNodes.Cast<CapsSiteMapNode>().Where(n => n.IsNodeTypeIn("Page", "Draft")))
                    {
                        <li class="menu-item @(node.IsOrContainsCurrentNode() ? "current" : "")"><a href="@node.Url" class="menu-link">@node.Title</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="pull-right">
                <p class="langswitch">
                    @{
                        var otherLanguages = Language.SupportedLanguages.Where(l => !String.Equals(l, Language.CurrentLanguage, StringComparison.OrdinalIgnoreCase));
                        var numLanguages = otherLanguages.Count();
                        var i = 0;
                    }
                    @foreach (String language in otherLanguages)
                    {
                        i++;
                        <span><a href="@Url.LocalizeAction(language)">@Language.SwitchStatement(language)</a></span>if (i < numLanguages - 1)
                        {<text>, </text>}
                    }
                </p>
            </div>

            <p>&copy; @DateTime.Now.Year - Caps Demo Website</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
